body {
    font-family: "Roboto";
    
}
.container-1 {
    
    padding: 0px 150px;  
    background-color: #1f2937;
    color: #f9faf8;
    
    
}  
    
header {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    font-size: 18px; 
    font-weight: bold;
    color: #e5e7eb; 
    padding: 0px 0px; 
}

ul, a {
    color: #e5e7eb;
    text-decoration: none;
    
}
ul { 
    display: inline-flex; 
    list-style: none;
    gap: 20px; 
    
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    
}

.section-1 {
    background-color: #1f2937; 
    display: flex;
    justify-content: space-between;
    padding: 100px 0px;
     
   
}
.main-text {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.img-container {
    display: flex; 
    justify-content: center;
    align-items: center;
    width: 700px; 
    height: 300px; 
    background-color: grey;

}
.secondary-text {
    font-size: 18px;
    color: #e5e7eb
}

button {
    font-weight: bold;
    background-color: #3882f6;
    color: #e5e7eb;
    border: 0;
    padding: 10px 40px; 
    margin: 10px 0px; 
    border-radius: 6px;
}

.section-2 {
    display: flex; 
    flex-direction: column;
    text-align: center;
    padding: ;
    margin: 30px; 
     

}

h2 {
    font-size: 36px;
    color: #1f2937; 
    font-weight: 900;
}
.blocks {
    display: flex; 
    justify-content: center;
    gap: 50px; 
    padding: 20px 0px; 
    
}

.block-1,
.block-2, 
.block-3, 
.block-4 {
    width: 200px; 
    height: 200px; 
    border: solid #3882f6;
    border-radius: 10px; 
    
}

.b-container {
    display: flex; 
    flex-direction: column;
    width: 200px; 
}

.blocks span {
    display: flex; 
    
}

.section-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
    height: 400px; 
}

.section-3-container {
    display: flex; 
    flex-direction: column;
    width: 50%;

    
}
.quote {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    
    /*width: 40%; */

}

.author {
    /*width: 100%;*/
    text-align:right; 
    
}

.section-4 {
    display: flex;
    height: 300px; 
    justify-content: center; 
    align-items: center;

}
.modal {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 60%;
    height: 60%;
    border-radius: 10px;
    background-color: #3882f6; 
}

.modal-text-container {

}

.call-to-action-header {
    font-size: 18px;
    color: #e5e7eb;
    padding: 0; 
    margin: 0; 
}

.call-to-action-text {
    color: #e5e7eb;
    padding: 0px; 
    margin: 0px; 

}

.call-to-action-button {
    background-color: #3882f6;
    border: solid white;
    border-width: 4px; 
    border-radius: 6%;
    width: 150;
    height: 45px; 
    margin: 0; 
    font-size: 18px;
    font-weight: bolder;
    

}


